/composer.phar

/public/*
!/public/index.php
!/public/.htaccess
!/public/web.config
!/public/robots
!/public/mix-manifest.json

/composer.phar
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.env
/.env.backup
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/npm-debug.log
/yarn-error.log


/coreui/.DS_Store
/coreui/node_modules
/coreui/dist
/coreui/coverage

/coreui/tests/e2e/reports/
/coreui/selenium-debug.log

# local env files
/coreui/.env.local
/coreui/.env.*.local

# Log files
/coreui/npm-debug.log*
/coreui/yarn-debug.log*
/coreui/yarn-error.log*

# Editor directories and files
/coreui/.idea
/coreui/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

ściąga.txt
