/composer.phar

/laravel/public/*
!/laravel/public/index.php
!/laravel/public/.htaccess
!/laravel/public/web.config
!/laravel/public/robots
!/laravel/public/mix-manifest.json

/laravel/composer.phar
/laravel/node_modules
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/vendor
/laravel/.env
/laravel/.env.backup
/laravel/.phpunit.result.cache
/laravel/Homestead.json
/laravel/Homestead.yaml
/laravel/npm-debug.log
/laravel/yarn-error.log


/coreui/.DS_Store
/coreui/node_modules
/coreui/dist
/coreui/coverage

/coreui/tests/e2e/reports/
/coreui/selenium-debug.log

# local env files
/coreui/.env.local
/coreui/.env.*.local

# Log files
/coreui/npm-debug.log*
/coreui/yarn-debug.log*
/coreui/yarn-error.log*

# Editor directories and files
/coreui/.idea
/coreui/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

ściąga.txt
